
@import url(/style.css);
.work{
    padding: 0;
}

.project{
    min-height: 100vh;
    padding: 7rem 0rem 7rem 0rem;
}




/*------media-query----*/


@media (min-width: 768px) {

    .project p{
        font-size: 1.3rem;
    }

}